{% extends "layout.html" %}
{% block body %}
  <div class="row">
    <form class="form" method="POST" action="{{url_for('download')}}">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <input name="url-text" class="form-control" type="text" placeholder="Paste Youtube URL Here...">
        </div>
        <div class="col-lg-2"></div>
      </div>

      <div class="row top-buffer-small"></div>

      <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
          <input name="download-btn" class="form-control" type="submit" value="Download">
        </div>
        <div class="col-lg-5"></div>
      </div>
    </form>
  </div>
</div>
{% endblock %}