{% extends "layout.html" %}
{% block body %}
  <div class="row">
    <form class="form" method="POST" action="{{url_for('download')}}">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <input name="url-text" class="form-control" type="text" placeholder="Paste Youtube URL Here...">
        </div>
        <div class="col-lg-2"></div>
      </div>

      <div class="row top-buffer-small"></div>

      <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
          <input name="download-btn" class="form-control" type="submit" value="Download">
        </div>
        <div class="col-lg-5"></div>
      </div>
    </form>
  </div>

  <div class="row top-buffer"></div>

  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for file_info in downloads %}
          <tr>
            <td>{{file_info[0]}}</td>
            <td><a href="{{ url_for('download_file', filename=file_info[0]) }}">Download</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-lg-2"></div>
  </div>
{% endblock %}